#chess_table TD {width: 3em; height:3em;border:1px solid black;text-align:center;}
#chess_table {border-collapse: collapse;}
TD.B_square {background-color:#DDD;}
TD.W_square {background-color:#FFF;}
IMG.piece {width: 3em; height:3em;}


.chess_test{float:right;}
.board_gui{margin-left:2%; margin-right:2%;}

/*#username{pointer-events: none;}*/

.dice1, .dice2{
  z-index:1;
  display:inline-block;
  position:relative;
  top: 200px;
  left:230px;
}

.board {
  width: 610px;
  height: 480px;
  position: relative;
  background-color: #c6ac7b;
  box-sizing: border-box;
  border: 10px solid #23232d;
  border-radius: 10px;
  margin: 0px;
  padding: 0px;
  display:inline-block;
  float:left;
}

.left-bin {
  position: absolute;
  left: 15px;
  top: 0px;
}

.right-bin {
  position: absolute;
  left: 334px;
  top: 0px;
}

.arrow-down {
	width: 0px; 
	height: 0px; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 195px solid #5b463a;
  border-bottom: 0px solid;
  display: inline;
  float: left;
}

.left-bin .bottom-row {
  clear: left;
}

.right-bin .top-row {
  clear: left;
}

.right-bin .bottom-row {
  clear: left;
}

.bottom-row {
  position: relative;
  top: 70px
}
/*
.bottom-row, .top-row {
  margin: 0 auto;
  width: 550px;
  clear: both;
}
*/


.arrow-up {
	width: 0px; 
	height: 0px; 
  border-top: 0px solid;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent ;
	border-bottom: 195px solid #5b463a;
  display: inline;
  float: left;
}

.arrow-up.odd {
  border-bottom: 195px solid #2d2125;}

.arrow-down.even {
  border-top: 195px solid #2d2125;}

.middle-bar {
  width: 20px;
  height: 460px;
  padding: 5px;
  background-color: #23232d;
  position: absolute;
  left: 285px;
  top: 0px;
}

.piece_1 {
  position: absolute;
  top: 0;
  right: 10px;
  z-value: 1;
}

.piece_2 {
  position: absolute;
  top: 42px;
  right: 10px;
  z-value: 1;
}

.piece_3 {
  position: absolute;
  top: 84px;
  right: 10px;
  z-value: 1;
}
.piece_4 {
  position: absolute;
  top: 126px;
  right: 10px;
  z-value: 1;
}

.piece_5 {
  position: absolute;
  top: 168px;
  right: 10px;
  z-value: 1;
}
